@model MVCAssignmentLayoutandViews.Models.Job
@{
    ViewBag.Title = "About";
}

<h2>About Me</h2>
<div class="container">
    <div class=" = row">


        <div id="PhotoOfMe" class="col-sm-3">
            <img src="~/Content/Image/face logo.png" />
        </div>
        <div id="TextAboutme" class="col-sm-9">
            <p>Hello there!</p>
            <p>I'm Patrik, novice programmer and webdesigner.</p>
            <p>I currently study C# & .NET at Lexicon in Växjö, infact I made this website you're now using! I'm hoping to work as a programmer in the near future.</p>
            <p>I've previously mostly worked in industry mostly with assembling products like phones and water heaters, I've been a good worker and have an easy time picking up things and get to work fast. Due to personal reasons I had to leave my previous job at NIBE, nowadays this won't impact my work niether will it stop me from working.</p>
            <p>If you're curious about my programming skills and how far I've come during my time at Lexicon do check out the "Project" on the navbar at the top which has links to my Github and all the Lexicon assignments and Projects I've done, if you wanna contact me my contact info is under the contact tab.</p>
        </div>
    </div>
</div>
<div align="center">
    <h2>Previous Jobs</h2>
    <table class="table-bordered table-striped">
        <tr>
            <td>Name</td>
            <td>Location</td>
            <td>Years</td>
        </tr>
        @foreach (var item in MVCAssignmentLayoutandViews.Models.Job.Jobs)
        {
            <tr>
                <td>@item.JName</td>
                <td>@item.JLocation</td>
                <td>@item.JYears</td>
            </tr>
        }
    </table>
    <h2>Education</h2>
    <table class="table-bordered table-striped">
        <tr>
            <td>Name</td>
            <td>Focus</td>
            <td>Location</td>
            <td>Years</td>
        </tr>
        @foreach (var item in MVCAssignmentLayoutandViews.Models.Education.Edu)
        {
            <tr>
                <td>@item.EName</td>
                <td>@item.Focus</td>
                <td>@item.ELocation</td>
                <td>@item.EYears</td>
            </tr>
        }
    </table>
</div>
